---
const TestName = "Hello World";
import HeaderApp from "../components/Header.astro";
---

<head> </head><body>
  <HeaderApp />
  <div class="text-center mt-10">
    <h1 class="text-3xl font-semibold">{TestName}</h1>
    <p class="text-2xl font-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, et.</p>
  </div>
</body>
